<%= @mountain.name %> is in the province of <%= @mountain.province %> in the <%= @mountain.range %> mountain range and has an elevation of <%= @mountain.elevation %> meters.<p></p>


<%= image_tag(@mountain.image) %>